@model EmployeeManagement.DataAccess.Employee

@{
    Layout = "_layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeID" />
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeSurname" class="control-label"></label>
                <input asp-for="EmployeeSurname" class="form-control" />
                <span asp-validation-for="EmployeeSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeEmail" class="control-label"></label>
                <input asp-for="EmployeeEmail" class="form-control" />
                <span asp-validation-for="EmployeeEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeePassword" class="control-label"></label>
                @Html.PasswordFor(model => model.EmployeePassword, new { @class = "form-control", placeholder = "Password" })
                <span asp-validation-for="EmployeePassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeStartDate" class="control-label"></label>
                <input asp-for="EmployeeStartDate" class="form-control" />
                <span asp-validation-for="EmployeeStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeEndDate" class="control-label"></label>
                <input asp-for="EmployeeEndDate" class="form-control" />
                <span asp-validation-for="EmployeeEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeImage" class="control-label"></label>
                <input asp-for="EmployeeImage" class="form-control" />
                <span asp-validation-for="EmployeeImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleID" class="control-label"></label>
                <select asp-for="RoleID" class="form-control" asp-items="ViewBag.RoleID"></select>
                <span asp-validation-for="RoleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
